<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body style=" background: rgb(247,150,192);
            background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
            line-height: 42px;
            padding: 0;
            border: none;">
<table class="table" >
    <thead>
    <tr >
        <th scope="col">#</th>
        <th scope="col">Student's name</th>
        <th scope="col">Student's last name</th>
        <th scope="col">Student's email</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="student:${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.email}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
